<div class="action">
  <% form_tag(url_for(:action => 'import'), :multipart => true, :style => 'display: none;', :id => 'import_form') do %>
    <%= file_field_tag 'import_file' %>
    <%= submit_tag 'Import' %>
  <% end %>
  
  <%= link_to 'Import', '#', :id => 'import_link2', :onclick => "$('import_form').setStyle({display: 'inline'}); this.hide();" %>
  <%= link_to 'Export', :controller=>controller.controller_name, :action=>'export' %>
  <%= link_to 'Clear Page Cache', :controller=>controller.controller_name, :action=>'expire_page_cache' %>
</div>
  
<h1>
  Page List
  <%= image_tag 'comatose/spinner.gif', :id=>'spinner', :align=>'absmiddle', :style=>'display:none;' %>
</h1>

<ul class="page-list root">
<% @root_pages.each do |page| %>
  <%= render :partial=>'page_list_item', :locals=>{ :page=>page, :level=>1 } %>
<% end %>
</ul>

<div id="status"></div>

<%= javascript_tag "ComatoseList.init()" %>
